.wrapper-bg {
    height: 100%;
    background-image: url(../../img/concert-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 32px 0;
}

.navigation__menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navigation__item:nth-of-type(n+2):nth-of-type(-n+3) .navigation__link::after {
    content: url(../../img/arrow-little.svg);
    color: var(--main-color);

    position: relative;
    bottom: 2px;
    padding-left: 8px;
}

.navigation__link {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    
    color: var(--main-color);

}

.navigation__btn {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    
    color: var(--main-bg-color);

    padding: 18px 34px;
    margin-left: 10px;

    background: #FFFFFF;
    border-radius: 8px;

    outline: 2px solid transparent;
    transition: outline 0.5s;
}

.navigation__btn:hover {
    outline: 2px solid var(--main-color);
    color: var(--main-color);
    background-color: var(--main-bg-color);
}



